{% extends "base.twig" %}

{% block content %}

</br>
		<!--Columna Blog-->
		<div class="row">
			<div class="large-12 columns blog-col">
				<div class="blog-teasers">
					<h1>404</h1>
					<h4>Aquesta no es la pagina que tu buscas</h4>
				</div>
			</div>
		</div>

	</br>

</div>
{% endblock %}
