<div class="footer">
  <div class="row">
    <div class="small-12 medium-8 large-9 columns">
      <h5><a href="{{site.url}}">{{site.title}}</a></h5>
    </div>

    <div class="small-12 medium-4 large-3 columns">
      <div class="social">
        <ul>
          <a href="http://feeds.feedburner.com/crac"><li class="#"><i class="fa fa-rss-square fa-lg"></i></li></a>
          <a href="https://twitter.com/CRACRubi"><li class="#"><i class="fa fa-twitter-square fa-lg"></i></li></a>
          <a href="https://www.facebook.com/pages/Qu%C3%A8-fem-CRAC/184486444962894"><li class="#"><i class="fa fa-facebook-square fa-lg"></i></li></a>
          <a href="http://feedburner.google.com/fb/a/mailverify?uri=crac&loc=es_ES"><li class="#"><i class="fa fa-envelope-square fa-lg"></i></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>El <a href"https://github.com/mateusGu3rr4/VermelhoVivo">códi</a> de aquestà web está disponible sota la Llicència <a href="http://www.gnu.org/philosophy/philosophy.es.html">GPL</a></p>
    </div>
  </div>
</div>
